<div class="jumbotron">
	<h1>Welcome to SelfieCheckin</h1>
	<p>
		<%= link_to "Login", "#", class: "btn btun-default btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary tn-log" %>
	<p>
</div>
